* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header > nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

header > nav > a {
  font-size: 24px;
  appearance: none;
  text-decoration: none;
  color: black;
}

.header-description {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
  padding: 24px 0px;
  background-color: blue;
}

.header-description h3,
.header-description p {
  color: white;
}
