@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

* {
  font-family: "Roboto", sans-serif;
  user-select: none;
}

body {
  background-color: snow;
}

button,
.circle {
  cursor: pointer;
}

.game {
  padding: 36px 96px;
}

.game-description {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.htp-container > ol,
.rules-container > ul {
  margin-top: 12px;
  margin-left: 16px;
}

.htp-container li,
.rules-container li {
  font-size: 19px;
}

.circle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  transition: 0.8s;
}

.circle:active,
.circle.active {
  background-color: aliceblue;
}

.circle:hover {
  background-color: brown;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.circle-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(96px, 128px));
  justify-content: center;
  justify-items: center;
  gap: 24px;
  margin-top: 48px;
}

.start-game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

.score,
.best-score-container {
  text-align: center;
  margin-top: 48px;
  font-size: 24px;
}

.best-score {
  font-size: 24px;
}
