main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 24px 256px;
  position: relative;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container > label {
  font-size: 18px;
}

.button-container {
  margin-top: 24px;
}

.put-score-container {
  margin-top: 24px;
}

div.alert {
  position: absolute;
  width: 100%;
}
